realestatebroker.webservice/src/main/resources/META-INF/wsdl/real_estate_broker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://iosr.agh.edu.pl/realestatebroker/webservice"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  targetNamespace="http://iosr.agh.edu.pl/realestatebroker/webservice">

    <!-- Type definitions for input- and output parameters for webservice -->
    <wsdl:types>
        <xs:schema targetNamespace="http://iosr.agh.edu.pl/realestatebroker/webservice">
            <xs:element name="estateInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="title" />
                        <xs:element type="xs:int" name="ownerId"/>
                        <xs:element type="xs:int" name="estateType"/>
                        <xs:element type="xs:string" name="description"/>
                        <xs:element type="xs:int" name="totalArea"/>
                        <xs:element type="xs:int" name="livingArea"/>
                        <xs:element type="xs:int" name="frontYardArea"/>
                        <xs:element type="xs:int" name="backYardArea"/>
                        <xs:element type="xs:int" name="numberOfBedrooms"/>
                        <xs:element type="xs:int" name="numberOfFloors"/>
                        <xs:element type="xs:int" name="floorNumber"/>
                        <xs:element type="xs:int" name="garageForCars"/>
                        <xs:element type="xs:boolean" name="separateKitchen"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="estateInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:int" name="code"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <!-- Message definitions for input and output -->
    <wsdl:message name="inputEstateInfo">
        <wsdl:part name="in" element="tns:estateInfo"/>
    </wsdl:message>
    <wsdl:message name="outputEstateInfo">
        <wsdl:part name="out" element="tns:estateInfoResponse"/>
    </wsdl:message>

    <!-- Port (interface) definitions -->
    <wsdl:portType name="AddEstateInfoPortType">
        <wsdl:operation name="AddEstateInfo">
            <wsdl:input message="tns:inputEstateInfo" name="inputEstateInfo"/>
            <wsdl:output message="tns:outputEstateInfo" name="outputEstateInfo"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- Port bindings to transports and encoding - HTTP, document literal encoding is used -->
    <wsdl:binding name="AddEstateInfoBinding" type="tns:AddEstateInfoPortType">
        <soap:binding style="document" transport="http://cxf.apache.org/transports/jms"/>
        <wsdl:operation name="AddEstateInfo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="inputEstateInfo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="outputEstateInfo">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service definition -->
    <wsdl:service name="AddEstateInfoEndpointService">
        <wsdl:port name="AddEstateInfoPort" binding="tns:AddEstateInfoBinding">
            <soap:address location="http://localhost:8080/addestate"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>